# Python virtual environment
venv/
.venv/

# macOS specific files
.DS_Store

# Environment variables
.env

# Ignore generated and uploaded images but keep directories
/static/generated/*
/static/uploads/*