.mresult {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Nanum Gothic";
}

.mresult-container {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  background-color: #5e6cba;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

/* 로딩화면 */
.mloading-container {
  max-width: 100%;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mloading-img {
  width: 25%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  & p {
    height: 100%;
    position: absolute;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0;
    transform: translateY(50%);
  }

  &:nth-child(4) {
    margin-bottom: 10px;
  }
}

.mloading-overlay {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.mloading-loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    font-size: 1.2rem;
  }
}

/* 결과화면 */
.mresult-result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  & h4 {
    font-size: 3rem;
    font-family: "Merriweather";
    margin: 10px 0 40px 0;
  }

  & button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: #cdd5ff;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
      transform: translateY(2px);
      box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
    }
  }
}
