.mresult {
  width: 100vw;
  height: 100dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Gothic";
}

.mresult-container {
  max-width: 480px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle,
      rgba(46, 64, 164, 0) 0%,
      rgba(46, 64, 164, 0) 90%
    ),
    url("../../public/img/background3.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* 로딩화면 */
.mloading-container {
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: #5e6cba;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.mloading-img {
  width: 25%;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  & p {
    height: 100%;
    position: absolute;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0;
    transform: translateY(50%);
  }
}

.mloading-overlay {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.mloading-loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    font-size: 1.2rem;
  }
}

/* 결과화면 */
.mresult-result {
  width: 360px;
  height: 640px;
  display: flex;
  transform: scale(0.65) rotate(3deg);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #5e6cba;
  color: white;
  border-radius: 5px;

  & p {
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  & h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Merriweather";
    font-size: 47px;
  }
}

.download-button {
  padding: 12px 20px;
  padding-right: 15px;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #cdd5ff;
  color: #5e6cba;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  bottom: 40px;
}

.mresult-img-container {
  width: 82%;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: white;
  border-radius: 20px;

  & h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  & p {
    font-size: 1rem;
    font-weight: bold;
  }
}

.mresult-img {
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 3px;
  }

  & h1 {
    max-width: fit-content;
  }

  &:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
  }

  &:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }

  & p {
    font-size: 13px;
    margin: 13px 0;
  }
}

/* 체험 완료 화면 */
.mdone-done {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
  }

  & h4 {
    font-size: 3rem;
    font-family: "Merriweather";
    margin: 10px 0 40px 0;
  }

  & button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: #cdd5ff;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;

    &:hover {
      transform: translateY(2px);
      box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
    }
  }
}

.mresult-ticket-bottom {
  width: 100%;
  background-color: white;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  padding: 15px;
  padding-top: 35px;

  & div {
    display: flex;
    align-items: flex-end;
  }

  & p {
    color: #5e6cba;
    font-size: 20px;
    font-family: "Merriweather";
    text-align: left;
    margin: 0;
  }

  & span {
    color: #5e6cba;
    font-size: 15px;
    font-family: "Merriweather";
  }
}
