.remote {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Nanum Gothic';
}

.remote-container {
    width: 100%;
    max-width: 480px;
    height: 100vh;
    background-color: #2E40a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
    color: white;
}

.remote-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    background-color: #150050;
    border-radius: 30px;

    & button {
        background-color: white;
        color: black;
        padding: 10px auto;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 40px;
    }
}
