.test-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #5E6CBA;
    font-family: 'Nanum Gothic';
}

/*  */
.test-bar {
    position: fixed;
    top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.test-bar-lower {
    width: 84vw;
    height: 10px;
    align-self: center;
    background-color: #310057;
    border-radius: 10px;
}

.test-bar-upper {
    height: 10px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 8vw;
}

/*  */
.test-test {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.test-q {
    width: 3.3rem;
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 100%;
    font-size: 2.5rem;
    color: #5E6CBA;

    & span{
        position: relative;
        bottom: 0.2rem;
    }
}

/*  */
.test-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    color: white;

    & p {
        font-size: 1.5rem;
    }

    & h1 {
        font-size: 2rem;
    }
}

/*  */
.checkbox-label input[type="radio"] {
    display: none;
}

.checkbox-label {
    align-self: center;
    width: 30%;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    word-break: keep-all;
}

.checkbox-label:hover {
    background-color: #310057;
    color: white;
}

.checkbox-label.checked {
    background-color: #310057;
    color: white;
}

/*  */
