.upload {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: 'Nanum Gothic';
}

.upload-container {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 7vh;

    & h1 {
        margin-bottom: 0;
        font-family: 'Merriweather';
    }
}

.upload-name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;

    & p {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
    }

    & input {
        width: 30%;
        font-size: 1rem;
    }
}


.upload-image {
    align-self: center;
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6D6D6;
    border-radius: 10px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    & svg {
        color: #585858;
        
    }
}

.upload-select {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    & button {
        cursor: pointer;
        width: 60%;
        padding: 7px 0 10px 0;
        text-align: center;
        font-size: 1.1rem;
        color: white;
        background-color: black;
        border: none;
        border-radius: 10px;
        transition: all 0.5s ease;

        &:hover {
            color: #585858;
            background-color: #D6D6D6;
        }
    }
}

.custom-file-label {
    cursor: pointer;
    width: 60%;
    padding: 7px 0 10px 0;
    text-align: center;
    font-size: 1.1rem;
    color: #585858;
    background-color: #D6D6D6;
    border-radius: 10px;
    transition: all 0.5s ease;
    
    &:hover {
        color: white;
        background-color: black;
    }
}

.file-selected {
    font-size: 1.1rem;
    color: black;
    position: relative;
    bottom: 6vh;
}